/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'brandon_grotesquebold_italic';
  src: url("../fonts/brandon_bld_it-webfont.eot");
  src: url("../fonts/brandon_bld_it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld_it-webfont.woff2") format("woff2"), url("../fonts/brandon_bld_it-webfont.woff") format("woff"), url("../fonts/brandon_bld_it-webfont.ttf") format("truetype"), url("../fonts/brandon_bld_it-webfont.svg#brandon_grotesquebold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../fonts/brandon_reg-webfont.eot");
  src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff"), url("../fonts/brandon_reg-webfont.ttf") format("truetype"), url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../fonts/brandon_bld-webfont.eot");
  src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff2") format("woff2"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#brandon_grotesquebold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesquelight';
  src: url("../fonts/brandon_light-webfont.eot");
  src: url("../fonts/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_light-webfont.woff2") format("woff2"), url("../fonts/brandon_light-webfont.woff") format("woff"), url("../fonts/brandon_light-webfont.ttf") format("truetype"), url("../fonts/brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #edede8; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.module-divider {
  border: 0;
  border-top: 1px solid #ffa886;
  margin: 100px 0; }

.alertMe {
  -webkit-animation: alertAnimation 1s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes alertAnimation {
  15% {
    color: #ffa886; }

  100% {
    color: white; } }
/* Standard syntax */
@keyframes alertAnimation {
  15% {
    color: #ffa886; }

  100% {
    color: white; } }
h1, h2, h3, h4, h5, h6, a, li, p, span {
  font-family: "brandon_grotesque_regularRg", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: #262626; }

h1 {
  color: white;
  font-family: "brandon_grotesque_regularRg", "Helvetica Neue", sans-serif;
  font-size: 58px;
  line-height: 93.96px; }

h2 {
  color: white;
  font-family: "brandon_grotesquelight", "Helvetica Neue", sans-serif;
  font-size: 58px;
  line-height: 93.96px; }

h4 {
  line-height: 62px;
  color: white;
  font-family: "brandon_grotesquebold", "Helvetica Neue", sans-serif;
  font-size: 32px; }

.contact h3, .contact a {
  font-size: 19px;
  line-height: 23px;
  color: white;
  font-family: "brandon_grotesquebold", "Helvetica Neue", sans-serif; }
.contact a {
  line-height: 0px;
  font-weight: normal;
  text-decoration: none;
  padding-left: 4px; }
  .contact a:target, .contact a:hover {
    text-decoration: underline; }
.contact ul {
  height: 42px;
  margin-left: 15px;
  border-left: 5px solid white; }
.contact li {
  margin-top: 10px;
  margin-left: 4px; }
  .contact li:first-child {
    margin-top: 4px; }

.divider {
  font-family: "brandon_grotesquebold", "Helvetica Neue", sans-serif; }

.module h2 {
  font-family: "brandon_grotesquebold", "Helvetica Neue", sans-serif;
  font-size: 27px;
  color: #262626;
  line-height: 32px; }
.module h3 {
  font-family: "brandon_grotesquebold_italic", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 21px; }
.module p {
  font-size: 24px;
  font-family: "brandon_grotesque_regularRg", "Helvetica Neue", sans-serif;
  line-height: 28px; }
.module a {
  line-height: 28px;
  font-family: "brandon_grotesquebold", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: #ffa886;
  text-decoration: none; }
  .module a:target, .module a:hover {
    text-decoration: underline;
    color: #ff8353; }

header {
  overflow: hidden;
  background-color: #ffa886;
  position: relative; }
  header h1, header h2 {
    text-align: center; }
  header h1 {
    margin-top: 40px; }
  header h2 {
    margin-bottom: 50px; }
  header .contact {
    position: absolute;
    top: 10px;
    right: 10px; }

.divider {
  margin: 50px 0;
  width: 100%;
  position: relative; }
  .divider hr {
    border: 0;
    border-top: 1px solid #bebebe; }
  .divider div {
    text-align: center;
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .divider span {
    background-color: #edede8;
    padding: 10px;
    position: relative;
    top: -12px;
    font-size: 27px;
    font-family: "brandon_grotesquebold", "Helvetica Neue", sans-serif; }

@media (max-width: 750px) {
  header h1, header h2 {
    line-height: 61px;
    font-size: 48px; }
  header .contact ul {
    display: none; } }
@media (max-width: 450px) {
  header h1, header h2 {
    font-size: 34px;
    line-height: 44px; } }
.module .hero img {
  max-width: 826px;
  width: 100%;
  display: block;
  margin: 50px auto; }
.module .screen img {
  max-width: 800px;
  display: block;
  margin: 50px auto;
  width: 100%; }
.module .img-set {
  text-align: center; }
  .module .img-set img {
    margin-top: 20px;
    max-width: 533px;
    width: 46%;
    padding: 1%;
    display: inline-block; }

.col-2 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .col-2:after {
    content: " ";
    display: block;
    clear: both; }
  .col-2 .sub-img, .col-2 .info {
    margin-top: 30px;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
    .col-2 .sub-img:nth-child(2n), .col-2 .info:nth-child(2n) {
      width: 49.15254%;
      float: right;
      margin-right: 0; }
  .col-2 .sub-img img {
    padding: 20px;
    width: 100%; }
  .col-2 .info {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 70px; }
  .col-2 .paras {
    border-left: 5px solid #ffa886;
    margin-left: 30px; }
  .col-2 p {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px; }
    .col-2 p:first-child {
      padding-top: 0; }
  .col-2 a {
    position: relative;
    top: 10px;
    margin-left: 30px; }

.col-1 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .col-1:after {
    content: " ";
    display: block;
    clear: both; }
  .col-1 .info {
    margin-top: 43px; }
  .col-1 .paras {
    border-left: 5px solid #ffa886;
    width: 80%;
    margin: 0 auto; }
  .col-1 p {
    min-width: 300px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px; }
    .col-1 p:first-child {
      padding-top: 0; }
  .col-1 a {
    position: absolute;
    margin-top: 10px;
    margin-left: -4px; }

@media (max-width: 1000px) {
  .col-2 .sub-img, .col-2 .info {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .col-2 .sub-img:nth-child(2n), .col-2 .info:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
  .col-2 .sub-img {
    display: none; }
  .col-2 .info {
    margin-top: 30px; }

  .col-1 .info {
    float: left;
    margin-left: 30px; }
  .col-1 .paras {
    float: left;
    margin-left: 30px;
    width: 100%;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (max-width: 950px) {
  .module .img-set img {
    width: 100%; } }
@media (max-width: 450px) {
  .module p {
    font-size: 22px; }

  .col-1 p, .col-2 p {
    padding-left: 20px; } }
footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background: #262626;
  padding-top: 20px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .contact {
    margin-bottom: 20px;
    margin-left: 30px; }
    footer .contact ul {
      border-color: #ffa886; }
  footer h4 {
    margin-left: 30px;
    padding-bottom: 20px; }
