.module{
	.hero img{
		max-width: 826px;
		width: 100%;
		display: block;
		margin: 50px auto;
	}

	.screen img{
		max-width: 800px;
		display: block;
		margin: 50px auto;
		width: 100%;	
	}

	.img-set{
		
		text-align: center;
		img{
			margin-top: 20px;
			max-width: 533px;
			width: 46%;
			padding: 1%;
			display: inline-block;
		}
	}
}

.col-2{
	@include container();
	.sub-img, .info{
		margin-top: 30px;
		@include span(6 of 12);
		&:nth-child(2n){
			@include span(last 6 of 12)
		}
	}

	.sub-img img{
		padding: 20px;
		width: 100%;
	}

	.info{
		@include span(12 of 12);
		margin-top: 70px;

	}

	.paras{
		border-left: 5px solid $primary;
		margin-left: 30px;
	}

	p{
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 20px;
		&:first-child{
			padding-top: 0;
		}
	}

	a{
		position: relative;
		top: 10px;
		margin-left: 30px;
	}
}

.col-1{
	@include container();
	.info{
		margin-top: 43px;

	}

	.paras{
		border-left: 5px solid $primary;
		width: 80%;
		margin: 0 auto;
		

	}

	p{

		min-width: 300px;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 20px;
		&:first-child{
			padding-top: 0;
		}
	}

	a{
		position: absolute;
		margin-top: 10px;
		margin-left: -4px;
	}
}


@include breakpoint(papa-bear){

	.col-2{
		.sub-img, .info{
			@include span(12 of 12);
			&:nth-child(2n){
				@include span(12 of 12);
			}
		}

		.sub-img{
			display: none;
		}

		.info{
			margin-top: 30px;
		}

	}

	.col-1{
		.info{
			float: left;
			margin-left: 30px;
		}
		.paras{
			float: left;
			margin-left: 30px;
			width: 100%;
			@include span(12 of 12);
		}
	}
}

@include breakpoint(img-set){
	.module{
		.img-set{
			img{
				width: 100%;
			}
		}
	}
}

@include breakpoint(mobile){
	.module{
		p{
			font-size: 22px;
		}
	}
	.col-1, .col-2{
		p{
			padding-left: 20px;
		}
	}
}