.module{
	.hero img{
		max-width: 826px;
		width: 100%;
		display: block;
		margin: 50px auto;
	}

	.screen img{
		max-width: 800px;
		display: block;
		margin: 50px auto;
		width: 100%;	
	}
}

.col-2{
	@include container();
	.sub-img, .info{
		margin-top: 30px;
		@include span(6 of 12);
		&:nth-child(2n){
			@include span(last 6 of 12)
		}
	}

	.sub-img img{
		padding: 20px;
		width: 100%;
	}

	.info{
		margin-top: 70px;

	}

	.paras{
		border-left: 5px solid $primary;
		margin-left: 30px;
	}

	p{
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 20px;
		&:first-child{
			padding-top: 0;
		}
	}

	a{
		position: relative;
		top: 10px;
		margin-left: 30px;
	}
}

.col-1{
	.info{
		margin-top: 70px;

	}

	.paras{
		border-left: 5px solid $primary;
		margin-left: 30px;
		margin: 0 auto;
		width: 100%;
		
		min-width: 300px;
		max-width: 800px;
	}

	p{

		min-width: 300px;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 20px;
		&:first-child{
			padding-top: 0;
		}
	}

	a{
		position: relative;
		
		margin: 30px 0;
		display: block;
		text-align: center;
	}
}


@include breakpoint(papa-bear){


	.col-2{
		.sub-img, .info{
			@include span(12 of 12);
			&:nth-child(2n){
				@include span(12 of 12);
			}
		}

		.sub-img{
			display: none;
		}

		.info{
			margin-top: 30px;
		}

	}
}