h1,h2,h3,h4,h5,h6,a,li,p, span{
	font-family: $font-regular;
	font-weight: normal;
	color: $fontColor;
}

h1{
	color: white;
	font-family: $font-regular;
	font-size: 58px;
	line-height: 93.96px;
}

h2{

	color: white;
	font-family: $font-light;
	font-size: 58px;
	line-height: 93.96px;
}



.contact{
	h3,a{
		font-size: 19px;
		line-height: 23px;
		color: white;
		font-family: $font-bold;
	}
	a{

		line-height: 0px;
		font-weight: normal;
		text-decoration: none;
		padding-left: 4px;
		&:target, &:hover{
			text-decoration: underline;
		}
	}
	ul{
		height: 42px;
		margin-left: 15px;
		border-left: 5px solid white;
	}
	li{
		margin-top: 10px;
		margin-left: 4px;
		&:first-child{
			margin-top: 4px;;
		}
	}
}

.divider{
	font-family: $font-bold;
}

//////////////////////////////////////////////////////////
///  module typography
/////////////////////////////////////////////////////////

.module{

	h2{
		font-family: $font-bold;
		font-size: 27px;
		color: $fontColor;
		line-height: 32px;
	}
	h3{
		font-family: $font-bold-oblique;
		font-size: 18px;
		line-height: 21px;
	}

	p{
		font-size: 24px;
		font-family: $font-bold;
		line-height: 28px;
	}

	a{
		line-height: 28px;
		font-family: $font-bold;
		font-size: 24px;
		color: $primary;
		text-decoration: none;
		&:target,&:hover{
			text-decoration: underline;
			color: darken($primary, 10%);
		}
	}

}