//////////////////////////////////////////////////////////
///  colors
/////////////////////////////////////////////////////////

$primary: #ffa886;
$secondary: #edede8;
$tertiary: #262626;
$fontColor: #262626;


//////////////////////////////////////////////////////////
///  fonts
/////////////////////////////////////////////////////////

$font-regular: "brandon_grotesque_regularRg", "Helvetica Neue", sans-serif; 
$font-light: "brandon_grotesquelight", "Helvetica Neue", sans-serif;
$font-bold: "brandon_grotesquebold", "Helvetica Neue", sans-serif;
$font-bold-oblique: "brandon_grotesquebold_italic", "Helvetica Neue", sans-serif;